@page
@model AgilSystemutveckling_Xamarin_Net5.Pages.TestPages.TestPageModel

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">TestPage</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-page="TestPageCreate" class="btn btn-primary">
                <i class="bi bi-plus-square"></i> &nbsp;Create new author
            </a>
            <a asp-page="TestPageCreateUser" class="btn btn-primary">
                <i class="bi bi-plus-square"></i> &nbsp;Create new user
            </a>
        </div>
    </div>

    <br /><br />

    <table class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th>
                    <a asp-page="/TestPages/TestPageSortedIdReverse" class="btn btn-primary">
                    <i class="bi bi-sort-numeric-down"></i> Author ID
                    </a>
                    
                </th>
                <th>
                    <a asp-page="/TestPages/TestPageSorted" class="btn btn-primary">
                    <i class="bi bi-sort-alpha-down"></i> Author Name
                    </a>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model.Authors)
            {
                <tr>
                    <td width="10%">@item.Id</td>
                    <td width="10%">@item.Title</td>
                    <td width="10%">@item.CategoryName</td>
                    <td width="10%">@item.SubCategoryName</td>
                    <td width="10%">@item.AuthorName</td>
                    <td width="10%">@item.Description</td>
                    <td width="10%">@item.InStock</td>
                    <td width="10%">@item.ImgUrl</td>
                    <td width="10%">@item.UnitInStock</td>




                    <td>
                        <div class="w-75 btn-group" role="group">
                            <!-- Replace Edit with location of Edit page -->
                        <a asp-page="Edit" asp-route-id="@item.Id" class="btn btn-primary mx-2">
                            <i class="bi bi-pencil-square"></i>
                        </a>
                        <!-- Replace Delete with location of Delete page -->
                        <a asp-page="Delete" class="btn btn-danger mx-2">
                            <i class="bi bi-trash-fill"></i>

                        </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>