@page
@model AgilSystemutveckling_Xamarin_Net5.Pages.SearchPageModel
@{
    ViewData["Title"] = "Search page";
}



<header class="Menu"> 

    <ul class="nav nav-pills nav-fill">
        
        @if (Globals.LoggedInUser.Level > 0)
        {
            <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Products</a>
            </li>
        }
        @if (Globals.LoggedInUser.Level > 0)
        {
            <li class="nav-item">
            <a class="nav-link" aria-current="page" href="Event/EventPage">Event</a>
            </li>
        }

        @if (Globals.LoggedInUser.Level == 1)
        {
            <li class="nav-item">
            <a class="nav-link" href="CheckoutPage">Cart</a>
            </li>

            <li class="nav-item">
            <a class="nav-link" href="ActiveLoansPage">Active Loans</a>
            </li>
        }

        @if (Globals.LoggedInUser.Level > 1)
        {
          <li class="nav-item">
            <a class="nav-link" href="/Admin/User/UserListPage">Users</a>
          </li>
        }
         @if (Globals.LoggedInUser.Level > 1)
        {
          <li class="nav-item">
            <a class="nav-link" href="/Admin/Category/CategoryPage">Category</a>
          </li>
        }
    </ul>
   
</header>

    

<div class="container">
    <div class="row">
                            
        <div class="col-2">
            <div class="mt-3 mb-3">
                @if (Globals.LoggedInUser.Level > 1 && Globals.LoggedInUser.Blocked == false)
                {
                    <a id="addbutton11" href="#myModal" role="button" class="btn product-add" data-bs-toggle="modal">Add Product</a>
                }
            </div>
        </div>
        <div class="col-10">
            <div class="mt-3 mb-3">
                <input class="form-control" id="filter" type="search" placeholder="Search" aria-label="Search" autocomplete="off" style="border-radius:12px; width:60%;margin-left:-32px"> 
            </div>
        </div>
    </div>

</div>

@foreach (var item in SearchPageModel.BookName)
{ 
    <div class="container">
        <div id="mycard" class="row">
            <div class="row">
                <div class="col-1" style="margin-bottom:20px; background-color:#F2F2F2">
                    <img class="imgSize" src="@item.ImgUrl"/>
                </div>

                <div class="col-8" style="margin-bottom:20px; margin-left:90px; background-color: white; border-radius:12px;">
                    <h4>@item.Title</h4>
                    <ul style="list-style-type: none;">
                        <li>By @item.AuthorName</li>
                        <li>@item.CategoryName</li>
                        <li><a id="link_to_Info" asp-page="/DescriptionPage" asp-route-id="@item.Id">View Details</a></li>
                        <li id="unitsav">
                            @if (item.UnitsInStock < 1)
                                {
                                    <p style="color:red;">All copies in use</p>
                                }
                            @if (Globals.LoggedInUser.Level > 1)
                            {

                                @if(item.UnitsInStock >= 1)
                                {
                                    <p style="color:green;">@item.UnitsInStock Available</p>
                                } 
                            }
                           
                        </li>
                    </ul>
                    <form method="post">
                        @if (Globals.LoggedInUser.Level == 1 && item.UnitsInStock > 0 && Globals.LoggedInUser.Blocked == false && Globals.CartList.Count < 5)
                        {
                                <button id="make_a_loan" class="btn btn-default" asp-page-handler="AddToCart" asp-route-id="@item.Id" >Loan Product</button>
                        }
                    </form>
                </div>
            </div>
        </div>
</div>
}

<style>
    .BookTitle{
        font-size: 36px;
        font-weight: bold;
        margin-bottom: 20px;
    }

    #search{
        width: 800px;
        height: 40px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    #info_box{
            background-color:white;
            padding-right: 500px;
            border-width:100px;
            border-right-color: black;
            margin-bottom: 35px;
            border-radius: 10px;
    }

    #link_to_Info{
        color: black;
    }

    #addbutton{
        margin-left: 100px;
    }

    #make_a_loan{
        float: right;
        margin-top: 0px;
        width: 150px;
        height:40px;
        color:white;
        font-weight:bold;
        background-color:#6FC767;
        border-radius: 10px;
        border:0px;
        margin-bottom: 15px;
    }

    #make_a_loan:hover{
        background-color:#4FC157;
    }

    #unitsav{
        margin-top: 50px;
        font-size: 15px;
    }
</style>




  <script>
$(document).ready(function(){
  $("#filter").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#mycard > div").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});

</script>

    <!-- Modal HTML -->
    <form method="post" >
    <div id="myModal" class="modal fade" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add Product</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <div class="modal-body">
                    <div class="row">
                        <div class="col-12">
                            <div class="mb-3">
                                <label asp-for="newBook.Title" class="form-label">Title</label>
                                <input asp-for="newBook.Title" type="text" class="form-control">
                                <span asp-validation-for="newBook.Title" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <div class="mb-3">
                                <label asp-for="newBook.AuthorName" class="form-label">Author</label>
                                <input asp-for="newBook.AuthorName" type="text" class="form-control">
                                <span asp-validation-for="newBook.AuthorName" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                      <div class="row">
                        <div class="col-12">
                            <div class="mb-3">
                                <label asp-for="newBook.ImgUrl" class="form-label">Image URL</label>
                                <input asp-for="newBook.ImgUrl" type="text" class="form-control">
                                <span asp-validation-for="newBook.ImgUrl" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <div class="mb-3">
                                <label asp-for="newBook.CategoryName" class="form-label">Category</label>
                                 <select asp-for="newBook.CategoryName" class="form-control"> 
                                    <option value="">-- Select Category --</option>  
                                    <option value="Book">Book</option> 
                                    <option value="E-Book">E-Book</option> 
                                    <option value="Movie">Movie</option> 
                                </select>
                            <span asp-validation-for="newBook.CategoryName" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="mb-3">
                                <label asp-for="newBook.SubCategoryName" class="form-label">SubCategory</label>
                                 <select asp-for="newBook.SubCategoryName" class="form-control"> 
                                    <option value="">-- Select Subcategory --</option>  
                                    <option value="Fiction">Fiction</option> 
                                    <option value="Non-Fiction">Non-Fiction</option> 
                                </select>
                            <span asp-validation-for="newBook.SubCategoryName" class="text-danger"></span>
                            </div>
                        </div>
                    </div> 
                       <div class="row">
                        <div class="col-12">
                            <div class="mb-3">
                                <label asp-for="newBook.UnitsInStock" class="form-label">Unit In Stock</label>
                                <input asp-for="newBook.UnitsInStock" type="number" min="1" max="100" class="form-control">
                                <span asp-validation-for="newBook.UnitsInStock" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    
                    
                      <div class="row">
                        <div class="col-12">
                            <div class="mb-3">
                                <label asp-for="newBook.Description" class="form-label">Description</label>
                                <input asp-for="newBook.Description" type="text" class="form-control">
                                <span asp-validation-for="newBook.Description" class="text-danger"></span>
                            </div>
                        </div>
                     </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                            <button  class="btn btn-primary" asp-page-handler="Add" >Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

    @section Scripts { 
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");} 
}