@page
@model AgilSystemutveckling_Xamarin_Net5.Pages.SearchPageModel
@{
    ViewData["Title"] = "Search page";
}



<header class="Menu"> 

    <ul class="nav nav-pills nav-fill">
        @if (Globals.LoggedInUser.Level > 1)
        {
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Admin/User/UserListPage">Users</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled">Disabled</a>
          </li>
        }
    </ul>
   
</header>

<input type="text" id="search" onkeyup="myFunction()" placeholder="Search By Name" title="Type in a name">


<table id="myTable">
      @foreach (var item in SearchPageModel.BookName)
      { 
        <tr>
            <td>
                <div class="col-1" style="margin-bottom:20px; background-color:#F2F2F2">
                    <img class="imgSize" src="@item.ImgUrl"/>
                </div>
            </td>
            <td >
                <div class="col-8" style="margin-bottom:20px; margin-left:90px; background-color: white; border-radius:12px;">
                    <h4>@item.Title</h4>
                    <ul style="list-style-type: none;">
                        <li>By @item.AuthorName</li>
                        <li>@item.CategoryName</li>
                        <li><a id="link_to_Info" asp-page="/DescriptionPage" asp-route-id="@item.Id">Info</a></li>
                    </ul>
                </div>
            </td>
        </tr>
      }
</table>


@*Gammla table funktionen*@
@*<table id="myTable">
      @foreach (var item in SearchPageModel.BookName)
      { 
         <tr>
            <div class="row">
                <div class="col-1" style="margin-bottom:20px; background-color:#F2F2F2">
                    <img class="imgSize" src="@item.ImgUrl"/>
                </div>
                <div class="col-8" style="margin-bottom:20px; margin-left:90px; background-color: white; border-radius:12px;">
                    <h4>@item.Title</h4>
                    <ul style="list-style-type: none;">
                        <li>By @item.AuthorName</li>
                        <li>@item.CategoryName</li>
                        <li><a id="link_to_Info" asp-page="/DescriptionPage" asp-route-id="@item.Id">Info</a></li>
                    </ul>
                </div>
            </div>
        </tr>
      }
</table>*@

<style>
    .BookTitle{
        font-size: 36px;
        font-weight: bold;
        margin-bottom: 20px;
    }

    #search{
        width: 800px;
        height: 40px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    #info_box{
            background-color:white;
            padding-right: 500px;
            border-width:100px;
            border-right-color: black;
            margin-bottom: 35px;
            border-radius: 10px;
    }

    #link_to_Info{
        color: black;
    }
</style>


<script>
    function myFunction() {
  // Declare variables
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("search");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[1];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
</script>

