@page
@model AgilSystemutveckling_Xamarin_Net5.Pages.SearchPageModel
@{
    ViewData["Title"] = "Search page";
}



<header class="Menu"> 

    <ul class="nav nav-pills nav-fill">
        @if (Globals.LoggedInUser.Level > 1)
        {
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Admin/User/UserListPage">Users</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled">Disabled</a>
          </li>
        }
    </ul>
   
</header>

<div>
    <input type="text" id="search" onkeyup="myFunction()" placeholder="Search By Name" title="Type in a name">
    <a id="addbutton" href="#myModal" role="button" class="btn user-add" data-bs-toggle="modal">Add Product</a>
</div>


<table id="myTable">
      @foreach (var item in SearchPageModel.BookName)
      { 
        <tr>
            <td>
                <div class="col-1" style="margin-bottom:20px; background-color:#F2F2F2">
                    <img class="imgSize" src="@item.ImgUrl"/>
                </div>
            </td>
            <td >
                <div class="col-8" style="margin-bottom:20px; margin-left:90px; background-color: white; border-radius:12px;">
                    <h4>@item.Title</h4>
                    <ul style="list-style-type: none;">
                        <li>By @item.AuthorName</li>
                        <li>@item.CategoryName</li>
                        <li><a id="link_to_Info" asp-page="/DescriptionPage" asp-route-id="@item.Id">Info</a></li>
                    </ul>
                </div>
            </td>
        </tr>
      }
</table>


@*Gammla table funktionen*@
@*<table id="myTable">
      @foreach (var item in SearchPageModel.BookName)
      { 
         <tr>
            <div class="row">
                <div class="col-1" style="margin-bottom:20px; background-color:#F2F2F2">
                    <img class="imgSize" src="@item.ImgUrl"/>
                </div>
                <div class="col-8" style="margin-bottom:20px; margin-left:90px; background-color: white; border-radius:12px;">
                    <h4>@item.Title</h4>
                    <ul style="list-style-type: none;">
                        <li>By @item.AuthorName</li>
                        <li>@item.CategoryName</li>
                        <li><a id="link_to_Info" asp-page="/DescriptionPage" asp-route-id="@item.Id">Info</a></li>
                    </ul>
                </div>
            </div>
        </tr>
      }
</table>*@

<style>
    .BookTitle{
        font-size: 36px;
        font-weight: bold;
        margin-bottom: 20px;
    }

    #search{
        width: 800px;
        height: 40px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    #info_box{
            background-color:white;
            padding-right: 500px;
            border-width:100px;
            border-right-color: black;
            margin-bottom: 35px;
            border-radius: 10px;
    }

    #link_to_Info{
        color: black;
    }

    #addbutton{
        margin-left: 100px;
    }
</style>


<script>
    function myFunction() {
  // Declare variables
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("search");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[1];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
</script>


    <!-- Modal HTML -->
    <form method="post" asp-page-handler="Add">
    <div id="myModal" class="modal fade" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add User</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <div class="modal-body">
                      <div class="row">
                        <div class="col-12">
                            <div class="mb-3">
                                <label asp-for="bookName.Title" class="form-label">Title</label>
                                <input asp-for="bookName.Title" type="text" class="form-control">
                                <span asp-validation-for="bookName.Title" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                      <div class="row">
                        <div class="col-12">
                            <div class="mb-3">
                                <label asp-for="bookName.AuthorName" class="form-label">Author</label>
                                <input asp-for="bookName.AuthorName" type="text" class="form-control">
                                <span asp-validation-for="bookName.AuthorName" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <div class="mb-3">
                                <label asp-for="bookName.CategoryName" class="form-label">Category</label>
                                 <select asp-for="bookName.CategoryName" class="form-control"> 
                                    <option value="">-- Select Level --</option>  
                                    <option value="1">Book</option> 
                                    <option value="2">E-Book</option> 
                                    <option value="3">Movie</option> 
                                </select>
                            <span asp-validation-for="bookName.CategoryName" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <div class="mb-3">
                                <label asp-for="bookName.SubCategoryName" class="form-label">SubCategory</label>
                                 <select asp-for="bookName.SubCategoryName" class="form-control"> 
                                    <option value="">-- Select Level --</option>  
                                    <option value="1">Fiction</option> 
                                    <option value="2">Non-Fiction</option> 
                                </select>
                            <span asp-validation-for="bookName.SubCategoryName" class="text-danger"></span>
                            </div>
                        </div>
                    </div>   
                    
                      <div class="row">
                        <div class="col-12">
                            <div class="mb-3">
                                <label asp-for="bookName.Description" class="form-label">Description</label>
                                <input asp-for="bookName.Description" type="text" class="form-control">
                                <span asp-validation-for="bookName.Description" class="text-danger"></span>
                            </div>
                        </div>
                     </div>

                        <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-primary">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>