@page
@model AgilSystemutveckling_Xamarin_Net5.Pages.Admin.User.UserListPageModel
@{
      Layout = "~/Pages/Shared/_Layout.cshtml";
}
<!-- Bootstrap nav-tab to navigiate through all 4 pages -->
<header class="Menu"> 

    <ul class="nav nav-pills nav-fill">
      <li class="nav-item">
        <a class="nav-link" aria-current="page" href="/ProductPage">Products</a>
      </li>
      <li class="nav-item">
       <a class="nav-link" aria-current="page" href="/Event/EventPage">Event</a>
      </li>
        
      <li class="nav-item">
        <a class="nav-link active" href="/Admin/User/UserListPage">Users</a>
      </li>
            <li class="nav-item">
        <a class="nav-link" href="/Admin/Category/CategoryPage">Category</a>
      </li>
    </ul>
   
</header>

<!--Add Button and searchbar-->
<div class="users">
    <div class="user-tools">
        <a href="#myModal" role="button" class="btn user-add" data-bs-toggle="modal">Add User</a>
        <div class="user-search">
            <form method="post">
                <input id="myInput" onkeyup="myFunction()"  class="user-search-input" type="search" placeholder="Search" name="searchString" value="">
            </form>            
        </div>                   
    </div>
    <!--Users info listed in a table -->
    <table id="myTable" class="user-list">
        <tr>
            <th>Name</th>
            <th>Username</th>
            <th>Level</th>
            <th>Address</th>
            <th>Blocked</th>
            <th></th>

        </tr>
        @foreach (var item in UserListPageModel.UserList)
        {
            <tr>
                <td><a>@item.FirstName @item.LastName</a></td>
                <td>@item.Username</td>
                @if(item.Level == 1)
                {
                    <td>
                        Customer
                    </td>
                }
                else if(item.Level == 2)
                {
                   <td>
                        Employee
                    </td> 
                }
                else
                {
                   <td>
                        Admin
                    </td> 
                }
                <td>@item.Address</td>
                <td>@item.Blocked</td>
                <td>
                    @if(Globals.LoggedInUser.Level >= item.Level)
                    {
                       <a
                        asp-page="/Admin/User/EditUserPage"
                        asp-route-id="@item.Id">
                            <img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgZmlsbD0iY3VycmVudENvbG9yIiBjbGFzcz0iYmkgYmktcGVuY2lsLWZpbGwiIHZpZXdCb3g9IjAgMCAxNiAxNiI+CiAgPHBhdGggZD0iTTEyLjg1NC4xNDZhLjUuNSAwIDAgMC0uNzA3IDBMMTAuNSAxLjc5MyAxNC4yMDcgNS41bDEuNjQ3LTEuNjQ2YS41LjUgMCAwIDAgMC0uNzA4bC0zLTN6bS42NDYgNi4wNjFMOS43OTMgMi41IDMuMjkzIDlIMy41YS41LjUgMCAwIDEgLjUuNXYuNWguNWEuNS41IDAgMCAxIC41LjV2LjVoLjVhLjUuNSAwIDAgMSAuNS41di41aC41YS41LjUgMCAwIDEgLjUuNXYuMjA3bDYuNS02LjV6bS03LjQ2OCA3LjQ2OEEuNS41IDAgMCAxIDYgMTMuNVYxM2gtLjVhLjUuNSAwIDAgMS0uNS0uNVYxMmgtLjVhLjUuNSAwIDAgMS0uNS0uNVYxMWgtLjVhLjUuNSAwIDAgMS0uNS0uNVYxMGgtLjVhLjQ5OS40OTkgMCAwIDEtLjE3NS0uMDMybC0uMTc5LjE3OGEuNS41IDAgMCAwLS4xMS4xNjhsLTIgNWEuNS41IDAgMCAwIC42NS42NWw1LTJhLjUuNSAwIDAgMCAuMTY4LS4xMWwuMTc4LS4xNzh6Ii8+Cjwvc3ZnPg==">
                        </a> 
                    }
                    
                </td>
            </tr>
        }
     </table>

       <!-- Add user popup window -->
    <form method="post">
        <div id="myModal" class="modal fade" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Add User</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div> 
                            <div class="col-6">
                                <div class="mb-3">
                                    <label asp-for="newUser.FirstName" class="form-label">First Name</label>
                                    <input asp-for="newUser.FirstName" type="text" class="form-control">
                                    <span asp-validation-for="newUser.FirstName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="mb-3">
                                    <label asp-for="newUser.LastName" class="form-label">Last Name</label>
                                    <input asp-for="newUser.LastName" type="text" class="form-control">
                                    <span asp-validation-for="newUser.LastName" class="text-danger"></span>

                                </div>
                            </div>
                        </div>
                          <div class="row">
                            <div class="col-12">
                                <div class="mb-3">
                                    <label asp-for="newUser.Username" class="form-label">Username</label>
                                    <input asp-for="newUser.Username" type="text" class="form-control">
                                    <span asp-validation-for="newUser.Username" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                          <div class="row">
                            <div class="col-12">
                                <div class="mb-3">
                                    <label asp-for="newUser.Password" class="form-label">Password</label>
                                    <input asp-for="newUser.Password" type="password" class="form-control">
                                   <span asp-validation-for="newUser.Password" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="mb-3">
                                    <label asp-for="newUser.Level" class="form-label">Level</label>
                                    <select asp-for="newUser.Level" class="form-control"> 
                                        <option value="">-- Select Level --</option>  
                                        <option value="1">Customer</option> 
                                        @if(Globals.LoggedInUser.Level > 2)
                                        {
                                            <option value="2">Employee</option> 
                                            <option value="3">Admin</option> 
                                        }
                                    </select>
                                    <span asp-validation-for="newUser.Level" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                       <div class="row">
                            <div class="col-12">
                                <div class="mb-3">
                                   <label asp-for="newUser.Address" class="form-label">Address</label>
                                    <input asp-for="newUser.Address" type="text" class="form-control"> 
                                   <span asp-validation-for="newUser.Address" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button class="btn btn-primary" asp-page-handler="Add">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
@section Scripts { 
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");} 
}
 <script>
     // Search filter function
function myFunction() {
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 1; i < tr.length; i++) {
    td = tr[i];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
</script>
